<div class="col-md-9 my-3 m-auto">
  <div class="my-2 text-center">
    <h2>請修改你的支出：</h2>
    <span class="text-danger">*</span>
    <small>必填欄位</small>
  </div>

  <div class="w-100">
    <form action="/records/{{record._id}}/edit?_method=PUT" method="POST">
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">
          <span class="text-danger">*</span>
          名稱
        </span>
        <input type="text" class="form-control" name="name" id="name" value="{{record.name}}"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">
          <span class="text-danger">*</span>
          日期
        </span>
        <input type="date" class="form-control" name="date" id="date" value="{{dateFormat record.date "YYYY-MM-DD"}}"
          aria-describedby="date" aria-label="date" required>
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="category">
          <span class="text-danger">*</span>
          類別
        </label>
        <select class="form-select" name="categoryName" id="category" required>
          {{#each categories}}
          <option value="{{ this._id }}" {{#if this.selected}}selected{{/if}}>{{ this.name }}</option>
          {{/each}}
        </select>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">
          <span class="text-danger">*</span>
          金額
        </span>
        <input type="number" class="form-control" name="amount" id="amount" value="{{record.amount}}"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
      </div>
      <div class="mt-5 text-center">
        <a href="/" class="btn btn-outline-primary">返回</a>
        <button class="btn btn-outline-primary" type="submit">確定修改</button>
      </div>
    </form>
  </div>
</div>